// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
//@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";


// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
